:root {
    --bg-color: var(--tg-theme-bg-color, #fff);
    --text-color: var(--tg-theme-text-color, #222);
    --hint-color: var(--tg-theme-hint-color, #ccc);
    --link-color: var(--tg-theme-link-color, #2678b6);
    --button-color: var(--tg-theme-button-color, #5ac8fb);
    --button-text-color: var(--tg-theme-button-text-color, #fff);
    --secondary-bg-color: var(--tg-theme-secondary-bg-color, #efefef);

    --header-bg-color: var(--tg-theme-header-bg-color);
    --accent-text-color: var(--tg-theme-accent-text-color);
    --section-bg-color: var(--tg-theme-section-bg-color);
    --section-header-text-color: var(--tg-theme-section-header-text-color);
    --subtitle-text-color: var(--tg-theme-subtitle-text-color);
    --destructive-text-color: var(--tg-theme-destructive-text-color);

    --button-default-radius: 0.25rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#app {
    background: var(--bg-color);
    min-height: 100%;
    color: var(--text-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
}